<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="patient">
            <h2><span>Patient</span> {{ patient.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Patient Name</span></dt>
                <dd>
                    <span>{{ patient.patientName }}</span>
                </dd>
                <dt><span>Mobile Number</span></dt>
                <dd>
                    <span>{{ patient.mobileNumber }}</span>
                </dd>
                <dt><span>Password</span></dt>
                <dd>
                    <span>{{ patient.password }}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{ patient.address }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/patient', patient.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
