<div>
    <h2 id="page-heading">
        <span>Patients List By Referance Doctor : </span>

        
    </h2>

    <form name="editForm" role="form" 
    novalidate (ngSubmit)="getAllRecordsByRefDoctor()" [formGroup]="editForm">
          

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

          <div class="alert alert-warning" id="no-result" *ngIf="records?.length === 0">
               <span>No records found</span>
          </div>

      

          <div class="form-group">
            <label class="form-control-label" for="field_refDoctor">Ref Doctor</label>
            <input type="text" class="form-control" name="refDoctor" id="field_refDoctor"
                   formControlName="refDoctor"/>
            <div *ngIf="editForm.get('refDoctor')!.invalid && (editForm.get('refDoctor')!.dirty || editForm.get('refDoctor')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="editForm.get('refDoctor')?.errors?.required">
                This field is required.
                </small>
            </div>
        </div>
        
         <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
         class="btn btn-primary">
            <fa-icon icon="save"></fa-icon>&nbsp;<span>GetRecord</span>
        </button>
    </div>
      
           </form> 
    </div>

   
       
        
    <div class="table-responsive" *ngIf="records?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>Patient ID</span></th>
                    <th scope="col" ><span>Date</span></th>
                   <th scope="col" ><span>Ref Doctor</span></th>
                    <th scope="col" ><span>Charges</span></th>
                    <th scope="col" ><span>Discount</span></th>
                    <th scope="col" ><span>Patient Name</span></th>
                    
                </tr>
            </thead>

            <tbody>
               
                    <tr *ngFor="let record of records ;trackBy: trackId">
                        <td>{{ record.id }}</td>
                        <td>{{ record.date | date:'medium' }}</td>
                       
                        <td>{{ record.refDoctor }}</td>
                        <td>{{ record.charges }}</td>
                        <td>{{ record.discount }}</td>
                        <td>{{ record.paymentHistory }}</td>
                        </tr>
                        
              </tbody>
        </table>
    </div>
</div>
