<div>
    <h2 id="page-heading">
        
        <span>Record for the Patient :</span> 
           
              
    

        


                    <button id="jh-create-entity" 
                    class="btn btn-primary float-right jh-create-entity create-record" 
                    [routerLink]="['/patient/newrecord']">
                        <fa-icon icon="plus"></fa-icon>
                        <span>
                        Create a new Record
                        </span>
                    </button>         
                  
     </h2>    

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="records?.length === 0">
        <span>No records found</span>
    </div>

    <a *ngFor="let record of records">
        Patient Id : {{ record.patient?.id }} 
        Patient Name : {{ record.patient?.patientName }}</a>


        

    <div class="table-responsive" id="entities" *ngIf="records?.length > 0">
        
   
      
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>Record ID</span></th>
                    <th scope="col" ><span>Date</span></th>
                    <th scope="col" ><span>Past History</span></th>
                    <th scope="col" ><span>Prescription</span></th>
                    <th scope="col" ><span>Clinical Details</span></th>
                    <th scope="col" ><span>Investigation</span></th>
                    <th scope="col" ><span>Current History</span></th>
                    <th scope="col" ><span>Ref Doctor</span></th>
                    <th scope="col" ><span>Charges</span></th>
                    <th scope="col" ><span>Discount</span></th>
                    <th scope="col" ><span>Payment History</span></th>
                    
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of records ;trackBy: trackId">
                    <td>{{ record.id }}</td>
                    <td>{{ record.date | date:'medium' }}</td>
                    <td>{{ record.pastHistory }}</td>
                    <td>{{ record.prescription }}</td>
                    <td>{{ record.clinicalDetails }}</td>
                    <td>{{ record.investigation }}</td>
                    <td>{{ record.currentHistory }}</td>
                    <td>{{ record.refDoctor }}</td>
                    <td>{{ record.charges }}</td>
                    <td>{{ record.discount }}</td>
                    <td>{{ record.paymentHistory }}</td>
                    
                    <td class="text-right">
                        <div class="btn-group">
                            

                            <button type="submit"
                                    [routerLink]="['/patient', record.id, 'recordedit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(record)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
