<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-record-heading">Create or edit a Record</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" formControlName="date" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('date')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('date')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pastHistory">Past History</label>
                    <input type="text" class="form-control" name="pastHistory" id="field_pastHistory"
                           formControlName="pastHistory"/>
                    <div *ngIf="editForm.get('pastHistory')!.invalid && (editForm.get('pastHistory')!.dirty || editForm.get('pastHistory')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pastHistory')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_prescription">Prescription</label>
                    <input type="text" class="form-control" name="prescription" id="field_prescription"
                           formControlName="prescription"/>
                    <div *ngIf="editForm.get('prescription')!.invalid && (editForm.get('prescription')!.dirty || editForm.get('prescription')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prescription')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_clinicalDetails">Clinical Details</label>
                    <input type="text" class="form-control" name="clinicalDetails" id="field_clinicalDetails"
                           formControlName="clinicalDetails"/>
                    <div *ngIf="editForm.get('clinicalDetails')!.invalid && (editForm.get('clinicalDetails')!.dirty || editForm.get('clinicalDetails')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('clinicalDetails')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_investigation">Investigation</label>
                    <input type="text" class="form-control" name="investigation" id="field_investigation"
                           formControlName="investigation"/>
                    <div *ngIf="editForm.get('investigation')!.invalid && (editForm.get('investigation')!.dirty || editForm.get('investigation')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('investigation')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_currentHistory">Current History</label>
                    <input type="text" class="form-control" name="currentHistory" id="field_currentHistory"
                           formControlName="currentHistory"/>
                    <div *ngIf="editForm.get('currentHistory')!.invalid && (editForm.get('currentHistory')!.dirty || editForm.get('currentHistory')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('currentHistory')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_refDoctor">Ref Doctor</label>
                    <input type="text" class="form-control" name="refDoctor" id="field_refDoctor"
                           formControlName="refDoctor"/>
                    <div *ngIf="editForm.get('refDoctor')!.invalid && (editForm.get('refDoctor')!.dirty || editForm.get('refDoctor')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('refDoctor')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_charges">Charges</label>
                    <input type="text" class="form-control" name="charges" id="field_charges"
                           formControlName="charges"/>
                    <div *ngIf="editForm.get('charges')!.invalid && (editForm.get('charges')!.dirty || editForm.get('charges')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('charges')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_discount">Discount</label>
                    <input type="text" class="form-control" name="discount" id="field_discount"
                           formControlName="discount"/>
                    <div *ngIf="editForm.get('discount')!.invalid && (editForm.get('discount')!.dirty || editForm.get('discount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('discount')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paymentHistory">Payment History</label>
                    <input type="text" class="form-control" name="paymentHistory" id="field_paymentHistory"
                           formControlName="paymentHistory"/>
                    <div *ngIf="editForm.get('paymentHistory')!.invalid && (editForm.get('paymentHistory')!.dirty || editForm.get('paymentHistory')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('paymentHistory')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_patient">Patient</label>
                    <select class="form-control" id="field_patient" name="patient" formControlName="patient">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patientOption.id === editForm.get('patient')!.value?.id ? editForm.get('patient')!.value : patientOption" *ngFor="let patientOption of patients; trackBy: trackById">{{ patientOption.patientName }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" 
                (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                 class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
